<div class="range_wrapper">
  <label for="<%= id %>_slider"><%= sliderTitle %></label>
  <span id="<%= id %>_slider_value"><%= sliderInitialValue %></span>
  <input id="<%= id %>_slider" autocomplete="off" type="range" min="0" max="100" value="<%= sliderInitialValue %>" step="0.001" />
</div>
