<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/meta/head', {title: 'title'}); %> <%- renderBundle('landing') %>
  </head>
  <body>
    <div id="root">
      <%- include('../partials/molecules/navbar'); %>
      <main>
        <menu>
          <%- include('../partials/atoms/range', { id: 'particle_count', sliderTitle: 'Ilość cząsteczek',
          sliderInitialValue: 25 }) %>
          <%- include('../partials/atoms/range', { id: 'size', sliderTitle: 'Wielkość cząsteczki',
          sliderInitialValue: 25 }) %>
          <%- include('../partials/atoms/range', { id: 'distance', sliderTitle: 'Dystans łączenia',
          sliderInitialValue: 25 }) %>
          <%- include('../partials/atoms/range', { id: 'line', sliderTitle: 'Grubość łączenia',
          sliderInitialValue: 25 }) %>
          <button id="reset_btn" class="btn">Reset</button>
        </menu>
        <div class="canvas-wrapper">
          <canvas></canvas>
        </div>
      </main>
    </div>
  </body>
</html>
